@{
    var titulo = "Tienda de Jairo ";
    string apellidos = "Bienvenidos";
    int edad = 28;
    int incremento = 10;
    int numero = 5;
} 
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <meta name="description" content="Ejemplos de aprendizaje" />
        <title>@titulo</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" href="./assets/css/estilo.css" />
    </head>
    <body>
        <div id="contenedor">
           @RenderPage("includes/cabecera.cshtml")
            <section>
                <div id="banner">Aqui va el banner</div>
                <div id="destacados">Acá van los destacados</div>
            </section>
           @RenderPage("includes/piedepagina.cshtml")
            
        </div>
        
    </body>
</html>