body {
    background-color: rgba(0,0,0,0.2);
    font-family: Arial; 
}

#contenedor{
    width: 800px;
    background: white;
    padding: 30px;
    margin: auto;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.2);
    min-height: 500px;
}

h1,h2{
    margin: 0px;
    padding: 0px;
}

footer{
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

nav ul{
    width: 100%;
    list-style-type: none;   
    text-align: center;
}

nav ul li{
    padding: 5px;
    background: rgba(0,0,0,0.1);
    float: left;
    width: 100px;
}

nav ul li a{
    text-decoration: none;
}