@{
    var titulo = "Tienda de Jairo ";
    string apellidos = "Bienvenidos";
    int edad = 28;
    int incremento = 10;
    int numero = 5;
} 
<header>
    <h1>@titulo</h1>
    <h2>@apellidos</h2>
    <nav>
        <ul>
            <li><a href="Default">Inicio</a></li>                        
            <li><a href="tienda">Tienda</a></li>  
            <li><a href="sobremi">Sobre mí</a></li>  
            <li><a href="Contacto">Contacto</a></li>  
        </ul>
    </nav>
    <div style="clear: both"></div>
    <hr>
</header>